{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}Gestión Inmuebles{% endblock %}</title>
    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 bg-light">

  
    {% block 'navbar' %}
        {% include 'navbar.html' %}
    {% endblock %}

    
    <main class="flex-shrink-0 my-4">
        <div class="container">
            {% block 'contenido' %}
            {% endblock %}
        </div>
    </main>

    {% block 'footer' %}
        {% include 'footer.html' %}
    {% endblock %}